@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #E50846;
  --primary-foreground: white;
  --muted: #eaeaea;
  --muted-foreground: #161A40;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
